.custom-card {
  background-color: var(--panel-dark);
  border-radius: 16px;
  box-shadow: 0 4px 10px var(--shadow-color);
  padding: 1.5rem;
  max-width: 100%;
  margin: 1rem 0;
}

.custom-card-content {
  color: var(--white);
  font-size: 1rem;
}
